Source: ros-kilted-realsense2-camera
Section: misc
Priority: optional
Maintainer: LibRealSense ROS Team <librs.ros@intel.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, python3-numpy <!nocheck>, python3-requests <!nocheck>, python3-tqdm <!nocheck>, ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-cmake-pytest <!nocheck>, ros-kilted-builtin-interfaces, ros-kilted-cv-bridge, ros-kilted-diagnostic-updater, ros-kilted-geometry-msgs, ros-kilted-image-transport, ros-kilted-launch-pytest <!nocheck>, ros-kilted-launch-testing <!nocheck>, ros-kilted-librealsense2, ros-kilted-lifecycle-msgs, ros-kilted-nav-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rclcpp-lifecycle, ros-kilted-realsense2-camera-msgs, ros-kilted-ros-environment, ros-kilted-ros2topic <!nocheck>, ros-kilted-sensor-msgs, ros-kilted-sensor-msgs-py <!nocheck>, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-tf2, ros-kilted-tf2-ros, ros-kilted-tf2-ros-py <!nocheck>, ros-kilted-ros-workspace
Homepage: http://www.ros.org/wiki/RealSense
Standards-Version: 3.9.2

Package: ros-kilted-realsense2-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-kilted-builtin-interfaces, ros-kilted-cv-bridge, ros-kilted-diagnostic-updater, ros-kilted-geometry-msgs, ros-kilted-image-transport, ros-kilted-launch-ros, ros-kilted-librealsense2, ros-kilted-lifecycle-msgs, ros-kilted-nav-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rclcpp-lifecycle, ros-kilted-realsense2-camera-msgs, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-tf2, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: RealSense camera package allowing access to Intel D400 3D cameras
